:root { 
    --background: black !important;
    --background-secondary: #292929 !important;
    --font-color: rgb(255, 255, 255) !important;
    --background-color: black !important;
  } /* zmiana zmiennych */

.NaSkroty { 
    background: #282f44 !important;
} /* Menu boczne: Na skróty  */

section {
    background: #292929;
    color: white;
} /* Box z informacjami tekstowymi w menu głównym */

div {
    background: rgb(0, 0, 0); /* kolor tła samego tekstu */
}
